@keyframes earthRotate {
    100% {
        background-position: 250% 50%
    }
}

@keyframes moonRotate {
    50% {
        transform: translate(230px, -50%)
    }
    70% {
        transform: translate(200px, -50%) scale(.5);
    }
    95% {
        z-index: -1
    }
}

html, body {
    height: 100%;
}

body {
    background: url(./../images/background.png) no-repeat center center/cover;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 36px
}

.earth-moon-wrap {
    position: relative;
}

.earth {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    background: url(./../images/earth.jpg) 50% 50% / cover;
    animation: earthRotate 3s infinite linear

}

.moon {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    animation: moonRotate 5s infinite linear;
}

.give-flex {
    display: flex;
    height: 87%;
    justify-content: center;
    align-items: center;
}

.give-center {
    text-align: center;
}

.give-padding {
    padding: 15px
}
