@keyframes earthRotate{
    100%{
        background-position: 250% 50%
    }
}

@keyframes moonRotate{
    50%{
        transform: translate(230px,-50%)
    }
    70%{
        transform: translate(200px,-50%) scale(.5);
    }
    95%{
        z-index: -1
    }
}

html,body{
    height: 100%;
}
body{
    background: url(http://s3-us-west-2.amazonaws.com/i.cdpn.io/86939.BKJun.1ddac0a8-d1a3-4259-84d7-f59773c308c7.png)no-repeat center center/cover ;
    color: white;
    font-family: sans-serif;
}
h1{
    font-size: 36px
}
.earth-moon-wrap{
    position: relative;
}
.earth{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    background: url(http://imageshack.com/a/img924/8243/QxUBld.jpg) 50% 50% / cover;
    animation: earthRotate 3s infinite  linear

}

.moon{
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    animation: moonRotate 5s infinite linear;
}

.give-flex{
    display: flex;
    height: 87%;
    justify-content: center;
    align-items: center;
}

.give-center{
    text-align: center;
}

.give-padding{
    padding: 15px
}
